.navbar-fixed-top {position: relative;}

body {
    padding-top : 0px ;
}

.even {
    background-color:rgba(225,150,225, 0.25);
    padding: 5px;
}


img {
    float: left;
    clear: left;
    margin-right: 20px;
    max-height: 100px;
}
h1 {
    clear: left;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.masonry .item{
    float: left;
    background: #F8F8F8;;
    border-radius: 5px;
    border: 1px solid rgb(225,225,225);
    width: 350px;
    margin:5px;
    border-radius: 5px;
    box-shadow: 5px 5px 4px 0 rgba(9,130,154,0.2);
    background: linear-gradient(rgba(225,225,225, 1), rgba(225,225,225, 0.1));

}

.item h2 {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.content-item a {
    margin-left: 15px;
}

.content-item {
    border-top: 1px dotted #999;
}
